@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@400;500;700&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Preahvihear&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    list-style: none;
}

/* HEADER */

header {
    box-shadow: 0 1px 1px rgb(228, 226, 226);
    z-index: 1000;
    background-color: white;
}

header nav {
    padding: 0 3.8%;
    width: 100%;
    height: 105px;
    display: flex;
    align-items: center;
}

header .links {
    padding-left: 70px;
}

header .links ul {
    display: flex;
}

header .links ul li a {
    font-size: 14px;
    color: #111111;
    font-weight: 600;
    padding-left: 55px;
    transition: 0.2s;
}

header .links ul li .active {
    color: #cd8f5c;
}

header .links ul li a:hover {
    color: #cd8f5c;

}

header nav .logo a img {
    padding-top: 25px;
}

header nav .icon__links {
    padding-left: 20%;
    font-size: 23px;
    color: #252525;
}

header nav .icon__links span i {
    padding-left: 10px;
}
/* HEADER END*/


/* HERO  */
.hero {
    position: relative;
}

.hero .hero__image{
    padding: 0 3.8%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.hero .content {
    position: absolute;
    top: 180px;
    right: 450px;
    width: 450px;
    text-align: center;
}

.hero .content .name {
    font-size: 85px;
    color: #111111;
}

.hero .content .article {
    font-size: 14px ;
    color: #585858;   
}

.hero .content .price {
    font-size: 22px;
    font-weight: 600;
    padding-top: 20px;
    color: #111111;
}

.hero .content .buy {
    font-size: 18px;
    padding-top: 50px;
    font-weight: 600;
}

.hero .content .line {
    height: 2px;
    width: 100px;
    background-color: #111111;
    margin-top: 18px;
    margin-left: 39%;
}

/* HERO END */
